<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME="uri_base">/styles.css">
    <script src="<TMPL_VAR NAME="uri_base">/scripts.js"></script>
    <title>Ошибка</title>
  </head>
  <body>
    <div align="center">Последнее действие вызвало ошибку:<br />
    <h1 align="center" class="error">
      <TMPL_LOOP NAME="errors">
        <TMPL_VAR NAME="error"><br />
      </TMPL_LOOP>
    </h1>

    Попробуйте вернуться назад, исправить введённые данные и попробовать снова.</div>
  </body>
</html>
