<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME="uri_base">/styles.css">
    <script src="<TMPL_VAR NAME="uri_base">/scripts.js"></script>
    <title>Управление подписками</title>
  </head>
  <body>
    <TMPL_INCLUDE NAME="inc/menu.tt">

    <div align="center">
      <h3>Управление подписками</h3>
      <form name="subscriptions" method="POST">
        <TMPL_INCLUDE NAME="inc/subscriptions_nums.tt">
        <br />
        <TMPL_INCLUDE NAME="inc/subscriptions_pages.tt">
        <br />
        <TMPL_INCLUDE NAME="inc/subscriptions_prev_next.tt">
        <br />

        <table align="center">
          <th>
            <input type="checkbox" name="all_ids" style="display: none;"
              onclick="all_checkboxes('ids[]', document.subscriptions.all_ids.checked);">
          </th>
          <th>Адрес</th>
          <th>Подписчик</th>
          <th>Направление</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>

          <TMPL_LOOP NAME="subscriptions">
            <TMPL_IF NAME="__odd__">
              <tr>
                <td class="odd"><input type="checkbox" name="ids[]" id="user_<TMPL_VAR NAME="id">" value="<TMPL_VAR NAME="id">"></td>
                <TMPL_IF NAME="forwarder_id">
                  <TMPL_IF NAME="active">
                    <td class="odd"><a href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="forwarder_id">"><TMPL_VAR NAME="email"></a></td>
                  <TMPL_ELSE>
                    <td class="odd">
                      <a style="text-decoration: line-through;" href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="forwarder_id">">
                        <TMPL_VAR NAME="email">
                      </a>
                    </td>
                  </TMPL_IF>
                <TMPL_ELSE>
                  <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="email"></label></td>
                </TMPL_IF>
                <td class="odd"><a href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="recipient_id">"><TMPL_VAR NAME="recipient"></a></td>
                <td class="odd">
                  <label for="user_<TMPL_VAR NAME="id">">
                  <TMPL_IF NAME="incoming">
                    Входящие
                  <TMPL_ELSE>
                    Исходящие
                  </TMPL_IF>
                  </label>
                </td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="surname"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="name"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="patronym"></label></td>
              </tr>
            <TMPL_ELSE>
              <tr>
                <td class="even"><input type="checkbox" name="ids[]" id="user_<TMPL_VAR NAME="id">" value="<TMPL_VAR NAME="id">"></td>
                <TMPL_IF NAME="forwarder_id">
                  <TMPL_IF NAME="active">
                    <td class="even"><a href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="forwarder_id">"><TMPL_VAR NAME="email"></a></td>
                  <TMPL_ELSE>
                    <td class="even">
                      <a style="text-decoration: line-through;" href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="forwarder_id">">
                        <TMPL_VAR NAME="email">
                      </a>
                    </td>
                  </TMPL_IF>
                <TMPL_ELSE>
                  <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="email"></label></td>
                </TMPL_IF>
                <td class="even"><a href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="recipient_id">"><TMPL_VAR NAME="recipient"></a></td>
                <td class="even">
                  <label for="user_<TMPL_VAR NAME="id">">
                  <TMPL_IF NAME="incoming">
                    Входящие
                  <TMPL_ELSE>
                    Исходящие
                  </TMPL_IF>
                  </label>
                </td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="surname"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="name"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="patronym"></label></td>
              </tr>
            </TMPL_IF>
          </TMPL_LOOP>
        </table>

        <TMPL_INCLUDE NAME="inc/subscriptions_prev_next.tt">
        <br />
        <TMPL_INCLUDE NAME="inc/subscriptions_pages.tt">
        <br />

        <fieldset>
          <legend>Выберите операцию</legend>

          <div align="left">
            <input type="radio" name="action" value="subscribe" id="subscribe" onclick="showhide('subscriptions');" checked="checked">
            <label for="subscribe">Добавить пересылку</label><br />
          </div>

          <ul id="subscribe_input">
            <table class="nb">
              <tr>
                <td class="nb">
                  <label for="subscribe_email">Адрес источника</label>
                </td>
                <td class="nb" colspan="2">
                  <input type="text" name="subscribe_email" value="" id="subscribe_email">
                </td>
              </tr>
              <tr>
                <td class="nb">
                  <label for="subscribe_recipient">Адрес получателя</label>
                </td>
                <td class="nb" colspan="2">
                  <input type="text" name="subscribe_recipient" value="" id="subscribe_recipient">
                </td>
              </tr>
              <tr>
                <td class="nb">
                  <label for="subscribe_outgoing">Подписать на исходящие</label>
                </td>
                <td class="nb" colspan="2">
                  <input type="checkbox" name="subscribe_outgoing" value="" id="subscribe_outgoing">
                </td>
              </tr>
            </table>
          </ul>

          <div align="left">
            <input type="radio" name="action" value="unsubscribe" id="unsubscribe" onclick="showhide('subscriptions');">
            <label for="unsubscribe">Удалить отмеченные пересылки</label><br />
          </div>

          <div align="center">
            <input type="submit" name="ok" value="Применить">
          </div>
        </fieldset>
      </form>
    </div>
    <script>
      showhide('subscriptions');
      document.subscriptions.all_ids.style.display = '';
    </script>
  </body>
</html>
