<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME="uri_base">/styles.css">
    <script src="<TMPL_VAR NAME="uri_base">/scripts.js"></script>
    <title>Пользователи</title>
  </head>
  <body>
    <TMPL_INCLUDE NAME="inc/menu.tt">

    <div align="center">
      <h3>Управление пользователями</h3>
      <form name="users" method="POST">
        <TMPL_INCLUDE NAME="inc/users_nums.tt">
        <br />
        <TMPL_INCLUDE NAME="inc/users_pages.tt">
        <br />
        <TMPL_INCLUDE NAME="inc/users_prev_next.tt">
        <br />

        <table align="center">
          <th>
            <input type="checkbox" name="all_ids" style="display: none;"
              onclick="all_checkboxes('ids[]', document.users.all_ids.checked);">
          </th>
          <th>Логин</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Последний вход</th>
          <th>Последний IP-адрес</th>
          <th>Квота объёма</th>
          <th>Квота сообщений</th>
<!--          <th>Логин в домене</th>
          <th>Отдел</th>
          <th>Должность</th>
          <th>Телефон</th> --!>
          <th>Доступ</th>

          <TMPL_LOOP NAME="users">
            <TMPL_IF NAME="__odd__">
              <tr>
                <td class="odd"><input type="checkbox" name="ids[]" id="user_<TMPL_VAR NAME="id">" value="<TMPL_VAR NAME="id">"></td>
                <TMPL_IF NAME="active">
                  <td class="odd"><a href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="id">"><TMPL_VAR NAME="email"></a></td>
                <TMPL_ELSE>
                  <td class="odd"><a style="text-decoration: line-through;" href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="id">"><TMPL_VAR NAME="email"></a></td>
                </TMPL_IF>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="surname"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="name"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="patronym"></label></td>
                <TMPL_IF NAME="lasttime">
                  <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="lasttime"></label></td>
                <TMPL_ELSE>
                  <td class="odd"><label for="user_<TMPL_VAR NAME="id">">Никогда</label></td>
                </TMPL_IF>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="lastip"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="hr_bytes"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="hr_messages"></label></td>
<!--            <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="ad_login"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="department"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="position"></label></td>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="phones"></label></td> --!>
                <td class="odd"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="smtp_acl"></label></td>
              </tr>
            <TMPL_ELSE>
              <tr>
                <td class="even"><input type="checkbox" name="ids[]" id="user_<TMPL_VAR NAME="id">" value="<TMPL_VAR NAME="id">"></td>
                <TMPL_IF NAME="active">
                  <td class="even"><a href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="id">"><TMPL_VAR NAME="email"></a></td>
                <TMPL_ELSE>
                  <td class="even"><a style="text-decoration: line-through;" href="<TMPL_VAR NAME="uri_base">/user/<TMPL_VAR NAME="id">"><TMPL_VAR NAME="email"></a></td>
                </TMPL_IF>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="surname"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="name"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="patronym"></label></td>
                <TMPL_IF NAME="lasttime">
                  <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="lasttime"></label></td>
                <TMPL_ELSE>
                  <td class="even"><label for="user_<TMPL_VAR NAME="id">">Никогда</label></td>
                </TMPL_IF>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="lastip"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="hr_bytes"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="hr_messages"></label></td>
<!--            <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="ad_login"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="department"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="position"></label></td>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="phones"></label></td> --!>
                <td class="even"><label for="user_<TMPL_VAR NAME="id">"><TMPL_VAR NAME="smtp_acl"></label></td>
              </tr>
            </TMPL_IF>
          </TMPL_LOOP>
        </table>

        <TMPL_INCLUDE NAME="inc/users_prev_next.tt">
        <br />
        <TMPL_INCLUDE NAME="inc/users_pages.tt">
        <br />

        <fieldset>
          <legend>Выберите операцию</legend>

          <div align="left">
            <input type="radio" name="action" value="go_user_new" id="go_user_new" onclick="showhide('users');" checked="checked">
            <label for="go_user_new">Добавить новый почтовый ящик</label><br />
          </div>

          <div align="left">
            <input type="radio" name="action" value="users_remove" id="users_remove" onclick="showhide('users');">
            <label for="users_remove">Удалить отмеченные почтовые ящики</label><br />
          </div>

          <div align="left">
            <input type="radio" name="action" value="users_change_max_bytes" id="users_change_max_bytes" onclick="showhide('users');">
            <label for="users_change_max_bytes">Задать квоту объёма писем в ящике</label><br />
          </div>

          <ul id="users_change_max_bytes_input">
            <table class="nb">
              <tr>
                <td class="nb">
                  <label for="users_change_max_bytes_max_bytes">Квота объёма писем в ящике</label>
                </td>
                <td class="nb">
                  <input type="text" name="users_change_max_bytes_max_bytes" id="users_change_max_bytes_max_bytes"
                    value="<TMPL_VAR NAME="max_bytes_default">">
                </td>
              </tr>
              <tr>
                <td class="nb">&nbsp;</td>
                <td class="nb"><small>Введите 0, чтобы отключить квоту объёма писем</small></td>
              </tr>
            </table>
          </ul>

          <div align="left">
            <input type="radio" name="action" value="users_change_max_messages" id="users_change_max_messages" onclick="showhide('users');">
            <label for="users_change_max_messages">Задать квоту количества писем в ящике</label><br />
          </div>

          <ul id="users_change_max_messages_input">
            <table class="nb">
              <tr>
                <td class="nb">
                  <label for="users_change_max_messages_max_messages">Квота количества писем в ящике</label>
                </td>
                <td class="nb">
                  <input type="text" name="users_change_max_messages_max_messages" id="users_change_max_messages_max_messages"
                    value="<TMPL_VAR NAME="max_messages_default">">
                </td>
              </tr>
              <tr>
                <td class="nb">&nbsp;</td>
                <td class="nb"><small>Введите 0, чтобы отключить квоту количества писем</small></td>
              </tr>
            </table>
          </ul>

          <div align="left">
            <input type="radio" name="action" value="users_enable" id="users_enable" onclick="showhide('users');">
            <label for="users_enable">Включить отмеченных пользователей</label><br />
          </div>

          <div align="left">
            <input type="radio" name="action" value="users_disable" id="users_disable" onclick="showhide('users');">
            <label for="users_disable">Отключить отмеченных пользователей</label><br />
          </div>

          <div align="left">
            <input type="radio" name="action" value="users_subscribe" id="users_subscribe" onclick="showhide('users');">
            <label for="users_subscribe">Подписать отмеченных пользователей</label><br />
          </div>

          <ul id="users_subscribe_input">
            <table class="nb">
              <tr>
                <td class="nb">
                  <label for="users_subscribe_email">Адрес источника</label>
                </td>
                <td class="nb" colspan="2">
                  <input type="text" name="users_subscribe_email" value="" id="users_subscribe_email">
                </td>
              </tr>
              <tr>
                <td class="nb">
                  <label for="users_subscribe_outgoing">Подписать на исходящие</label>
                </td>
                <td class="nb" colspan="2">
                  <input type="checkbox" name="users_subscribe_outgoing" value="" id="users_subscribe_outgoing">
                </td>
              </tr>
            </table>
          </ul>

          <div align="center">
            <input type="submit" name="ok" value="Применить">
          </div>
        </fieldset>

      </form>
    </div>
    <script>
      showhide('users');
      document.users.all_ids.style.display = '';
    </script>
  </body>
</html>
